<script setup lang="ts">
import { ref } from "vue";
import { useThemeStore } from "@/store";
import { fetchApi } from "@/service";
import Taro, { useLoad } from "@tarojs/taro";

const themeStore = useThemeStore();
function handleTheme() {
  const mode = themeStore.getTheme === "light" ? "dark" : "light";
  themeStore.setTheme(mode);
}

const gridList = ref([]);

async function getFortune() {
  Taro.showLoading({
    title: "加载中",
  });
  const { success } = await fetchApi({
    cache: true,
    api: "https://api.unmz.net/free/api/images/girl/getRandomGirlUrl?size=30",
  });
  gridList.value = success?.data;
  Taro.hideLoading();
}

useLoad(() => {
  getFortune();
});

definePageConfig({
  navigationBarTitleText: "Icon",
});
</script>

/** * https://icones.js.org/ */
<template>
  <basic-layout>
    <custom-navbar title="Icon" left-show />
    <view class="text-center">
      <!-- <div class="w-375px text-2xl text-primary">↴↴↴有彩蛋</div> -->
      <!-- <div class="pb-12px text-16px">通过class渲染(https://icones.js.org/)</div> -->
      <div class="mr-15px text-30px i-mdi-alarm text-orange-400" />
      <div class="mr-15px text-30px i-carbon-sun" @click="handleTheme" />
      <div
        class="mr-15px text-30px i-twemoji-grinning-face-with-smiling-eyes hover:i-twemoji-face-with-tears-of-joy"
      />
      <div class="mr-15px text-30px i-logos-vue" />
      <!-- <div class="pb-12px text-16px mt-10px">
			在src/assets/svg文件夹下的svg文件，通过在template里面以
			icon-local-{文件名} 直接渲染
      <div class="i-local-wind text-40px text-primary" />
		</div> -->
    </view>
    <view>
      <div v-for="(item, index) in gridList" :key="index">
        <image
          :src="item"
          :lazy-load="true"
          :fade-in="true"
          :show-menu-by-longpress="true"
          mode="widthFix"
          class="w-screen"
        />
      </div>
      <!-- <scroll-view scroll-y style="width: 100%; height: 100%" type="custom">

      </scroll-view> -->
    </view>
  </basic-layout>
</template>

<style lang="scss"></style>
