<script setup lang="ts">
import { ref, onMounted } from "vue";
import { listVideo } from "@/service";
import Taro, {
  usePullDownRefresh,
  useReachBottom,
  stopPullDownRefresh,
  useShareAppMessage,
  useShareTimeline,
  useAddToFavorites,
} from "@tarojs/taro";
import { Router } from "tarojs-router-next";

const visible = ref(false);
const navList = ref([
  {
    id: 1,
    text: "首页",
    icon:
      "https://img11.360buyimg.com/imagetools/jfs/t1/117646/2/11112/1297/5ef83e95E81d77f05/daf8e3b1c81e3c98.png",
  },
  {
    id: 2,
    text: "分类",
    icon:
      "https://img12.360buyimg.com/imagetools/jfs/t1/119490/8/9568/1798/5ef83e95E968c69a6/dd029326f7d5042e.png",
  },
  {
    id: 3,
    text: "搜索",
    icon:
      "https://img30.360buyimg.com/img/jfs/t1/51830/40/25045/961/6528ade7Fbc37933b/6139909e7a38a210.png.webp",
  },
  {
    id: 4,
    text: "记录",
    num: 2,
    icon:
      "https://img12.360buyimg.com/img/s60x60_jfs/t1/216515/34/18229/3273/6267c3dfE721548af/18e0a2427b75b3a7.png.webp",
  },
]);
const filmData = ref({
  filterList: [],
  rawList: [],
  previewList: [],
});
const pageinfo = ref({
  currentPage: 1,
  pagesize: 20,
  total: 0,
});
const configModel = ref(false);
// const apiUrl = ref("");
const searchType = ref(0);
const searchContent = ref();
const searchAc = ref("videolist");
const sourcelist = ref([
  {
    name: "wolong",
    text: "卧龙",
    url: "https://collect.wolongzyw.com/api.php/provide/vod",
    type: "json",
    search: 1,
  },
  {
    name: "yueai55",
    text: "岳爱",
    url: "https://caiji.yueai55.cc:2277/yuelove.php/provide/vod",
    type: "json",
    search: 1,
  },
  {
    name: "lziapi",
    text: "量子",
    url: "http://cj.lziapi.com/api.php/provide/vod",
    type: "json",
    search: 1,
  },
  {
    name: "vodimg",
    text: "影图",
    url: "https://cj.vodimg.top/api.php/provide/vod",
    type: "json",
    search: 1,
  },
]);
const formData = ref({
  videoSource: "",
  liveSource: "",
});

async function getVideos() {
  Taro.showLoading({
    title: "加载中",
  });
  // apiUrl.value = "https://collect.wolongzyw.com/api.php/provide/vod";
  if (searchType.value == 0) {
    listVideo({
      api: formData.value.videoSource,
      ac: "class",
    }).then((res) => {
      if (res.success.class) {
        filmData.value.filterList = res.success.class;
        // .sort((a, b) =>
        //   a["type_name"].localeCompare(b["type_name"])
        // );
        filmData.value.previewList = res.success.list.map((item, index) => {
          return Object.assign(item.type_name);
        });
      }
    });
  }
  const result = await listVideo({
    api: formData.value.videoSource,
    t: searchType.value,
    pg: pageinfo.value.currentPage,
    wd: searchContent.value,
    ac: searchAc.value,
  });
  if (result.success.list) {
    filmData.value.rawList = [...filmData.value.rawList, ...result.success.list];
  }
  pageinfo.value.total = result.success.total;
  Taro.hideLoading();
}

function handleToPlay(item: string) {
  Router.navigate({ url: "/pages/film/play" }, { data: item });
}
function handleToLive() {
  Router.navigate({ url: "/pages/film/live" });
}

function handleSearch(val) {
  pageinfo.value.currentPage = 1;
  filmData.value.rawList = [];
  getVideos();
}

function handleType(val) {
  pageinfo.value.currentPage = 1;
  filmData.value.rawList = [];
  searchContent.value = "";
  searchType.value = val.type_id;
  getVideos();
}

function searchSwitch() {
  configModel.value = true;
}

const onVideoSource = (item: object) => {
  console.info("切换源=>", item);
  formData.value.videoSource = item.url;
  searchType.value = 0;
  pageinfo.value.currentPage = 1;
  filmData.value.rawList = [];
  getVideos();
};

/**
 * 监听用户下拉动作 刷新
 */
usePullDownRefresh(() => {
  console.info("页面下拉动作");
  pageinfo.value.currentPage = 1;
  filmData.value.rawList = [];
  getVideos();
  stopPullDownRefresh();
});

/**
 * 监听用户上拉 下一页事件
 */
useReachBottom(() => {
  console.info("页面下拉动作", pageinfo.value.currentPage++);
  getVideos();
  Taro.showToast({
    title: `第${pageinfo.value.currentPage}页`,
    icon: "loading",
  });
});

useShareAppMessage((res) => {
  if (res.from === "button") {
    console.log(res.target);
  }
  return {
    title: "影视集",
  };
});
useAddToFavorites((res) => {
  return {
    title: "影视集",
  };
});
useShareTimeline(() => {
  console.log("useShareTimeline");
  return {
    title: "影视集",
  };
});

onMounted(() => {
  if (!formData.value.videoSource) {
    formData.value.videoSource = sourcelist.value[0].url;
    console.info("加载默认源", formData.value.videoSource);
  }
  getVideos();
});

definePageConfig({
  navigationBarTitleText: "影视集",
  enablePullDownRefresh: true,
  backgroundTextStyle: "dark",
  backgroundColor: "#36366D",
  enableShareAppMessage: true,
  enableShareTimeline: true,
});
</script>

<template>
  <basic-layout>
    <custom-navbar title="影视库" left-show />
    <!-- 视频列表 -->
    <scroll-view scroll-y style="width: 100%; height: 100%" type="custom">
      <sticky-section>
        <sticky-header class="fixed z-1">
          <!-- 搜索 -->
          <view class="bg-white w-screen">
            <nut-searchbar
              v-model="searchContent"
              :focus-style="{ outline: '1px solid red' }"
              confirm-type="search"
              @search="handleSearch"
            >
              <template #leftout>
                <div
                  class="text-size-2xl i-ic-round-live-tv mr-1"
                  @click="handleToLive"
                ></div>
              </template>
              <template #leftin>
                <div class="text-size-2xl i-ph-magnifying-glass-bold"></div>
              </template>
              <template #rightout>
                <div class="text-size-2xl i-oui-app-security" @click="searchSwitch" />
              </template>
            </nut-searchbar>
          </view>

          <!-- 分类 -->
          <view>
            <div class="pt-2 pb-2">
              <scroll-view class="w-screen" :scroll-x="true" scrollWithAnimation>
                <nut-space fill>
                  <div v-for="(item, index) in filmData.filterList" :key="index">
                    <nut-button
                      size="mini"
                      block
                      type="default"
                      :class="[searchType == item.type_id ? 'btn-active' : '']"
                      @click="handleType(item)"
                    >
                      {{ item.type_name }}
                    </nut-button>
                  </div>
                </nut-space>
              </scroll-view>
            </div>
          </view>
        </sticky-header>

        <!-- 视频列表 -->
        <list-view>
          <view class="pt-22 pr-1 pl-1 grid grid-cols-3 gap-2">
            <view
              class="cell justify-center flex-items-center"
              v-for="(item, index) in filmData?.rawList"
              :key="index"
              style="background-color: #fff"
            >
              <div class="rounded-md" @click="handleToPlay(item)">
                <image
                  mode="aspectFill"
                  :src="item.vod_pic"
                  :key="item.vod_name"
                  class="rounded-2 h-310 w-full"
                  draggable="false"
                  lazyLoad
                  fadeIn
                />
                <div class="scroll-wrap">
                  <div class="scroll-item font-size-24">
                    {{ item.vod_name }}
                  </div>
                </div>
              </div>
            </view>
          </view>
        </list-view>
        <page-loading
          :page="pageinfo.currentPage"
          :total="pageinfo.total"
          :loadingFlag="true"
          :tipFlag="false"
        >
        </page-loading>
      </sticky-section>
    </scroll-view>

    <!-- 悬浮导航 -->
    <nut-fixed-nav
      v-model:visible="visible"
      :position="{ bottom: '100px' }"
      :nav-list="navList"
    />

    <view>
      <nut-action-sheet v-model:visible="configModel" title="配置">
        <div class="custom-content">
          <nut-form>
            <nut-form-item label="影视源:">
              <nut-radio-group v-model="formData.videoSource" direction="vertical">
                <label v-for="item in sourcelist">
                  <nut-radio :label="item.url" @click="onVideoSource(item)">{{
                    item.text
                  }}</nut-radio>
                </label>
              </nut-radio-group>
            </nut-form-item>
            <!-- <nut-form-item label="电视源:">
              <nut-radio-group v-model="formData.liveSource" direction="horizontal">
                <nut-radio label="wolong">测试</nut-radio>
              </nut-radio-group>
            </nut-form-item> -->
          </nut-form>
        </div>
      </nut-action-sheet>
    </view>
  </basic-layout>
</template>

<style lang="scss">
scroll-view ::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
  display: none;
}
.btn-active {
  color: red;
  background-color: white;
  border: var(--nut-button-border-width, 2rpx) solid
    var(--nut-button-default-border-color, rgb(255, 0, 0));
}

.scroll-wrap {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-item {
  animation: scroll 6s infinite;
  float: left;
}

@keyframes scroll {
  0% {
    margin-left: 0;
    transform: translateX(0);
  }
  10% {
    margin-left: 0;
    transform: translateX(0);
  }
  90% {
    margin-left: 100%;
    transform: translateX(-100%);
  }
  100% {
    margin-left: 100%;
    transform: translateX(-100%);
  }
}
</style>
