<script setup lang="ts">
import { ref } from "vue";
import Taro, { useLoad } from "@tarojs/taro";

const direction = ref(90);
const rateShow = ref(false);

function switchRate(e) {
  // console.log("switchRate=> ", e);
  let videoContext = Taro.createVideoContext("video-1");
  videoContext.playbackRate(e);
  Taro.showToast({
    title: `倍速 x${e}`,
    icon: "success",
  });
}

function onFullScreenChange({ detail }) {
  if (!detail.isFullscreen) {
    // direction.value = direction.value == 90 ? -90 : 90;
    // console.info(direction.value);
  }
}

function onControlsToggle({ detail }) {
  // console.log("onControlsToggle=>", detail.show);
  rateShow.value = detail.show;
}

function onLoadedMetaData({ detail }) {
  const videoRatio = detail.width / detail.height;
  // 判断长宽比确定全屏方向
  if (videoRatio < 1) {
    direction.value = 0;
  }
  // console.log("onLoadedMetaData=>", videoRatio, direction.value);
}

definePageConfig({
  navigationBarTitleText: "测试频道",
  enableShareAppMessage: true,
  enableShareTimeline: true,
});
</script>

<template>
  <basic-layout>
    <custom-navbar left-show title="电视" />

    <view class="video-name">
      <video
        class="video-playback"
        id="video-1"
        src="https://0472.org/hls/cgtn.m3u8"
        :is-live="true"
        initial-time="0"
        :controls="true"
        :autoplay="false"
        :loop="false"
        :muted="false"
        :enablePlayGesture="true"
        :showCastingButton="true"
        :enableAutoRotation="true"
        :showRateBtn="true"
        :showScreenLockButton="true"
        :showSnapshotButton="true"
        :showBackgroundPlaybackButton="true"
        :pictureInPictureShowProgress="true"
        :showThinProgressBar="true"
        :showVslideBtnInFullscreen="true"
        :mobilenetHintType="1"
        floatingMode="page"
        :showNoWifiTip="true"
        :pictureInPictureMode="['push', 'pop']"
        object-fit="contain"
        :direction="direction"
        @fullScreenChange="onFullScreenChange"
        @loadedMetaData="onLoadedMetaData"
        @controlsToggle="onControlsToggle"
      ></video>
    </view>
    <view>
      <div>测试频道 ==》</div>
    </view>
  </basic-layout>
</template>

<style lang="scss">
.h5-video {
  text-align: center;
  width: 100%;
  height: 240px;
}

.video-name {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // padding: 0 48rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
}
.video-playback {
  width: 100%;
}

.vod-name {
  // border: 1px solid;
  .scroll-wrap {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
  }

  .scroll-item {
    animation: scroll linear 4s alternate infinite;
    float: left;
  }

  @keyframes scroll {
    0% {
      margin-left: 0;
      transform: translateX(0);
    }

    10% {
      margin-left: 0;
      transform: translateX(0);
    }

    90% {
      margin-left: 100%;
      transform: translateX(-100%);
    }

    100% {
      margin-left: 100%;
      transform: translateX(-100%);
    }
  }
}
</style>
