<script setup lang="ts">
import { ref } from "vue";
import Taro, {
  useLoad,
  useShareAppMessage,
  useShareTimeline,
  useAddToFavorites,
} from "@tarojs/taro";
import { Router } from "tarojs-router-next";

const video = Router.getData();
// console.log(video);
const video_urls = ref(video.vod_play_url.split("#"));
const video_url = ref(video_urls.value[0].split("$")[1]);
const direction = ref(90);
const rateShow = ref(false);
const currentRate = ref(1.0);

function switchVideo(item) {
  // console.info(item);
  Taro.showToast({
    title: item.split("$")[0],
    icon: "loading",
    mask: true,
    duration: 800,
  });
  video_url.value = item.split("$")[1];
}

function onReverse() {
  video_urls.value.reverse();
}

function onFullScreenChange({ detail }) {
  if (!detail.isFullscreen) {
    // direction.value = direction.value == 90 ? -90 : 90;
    // console.info(direction.value);
  }
}

function onControlsToggle({ detail }) {
  // console.log("onControlsToggle=>", detail.show);
  rateShow.value = detail.show;
}

function onEnded() {
  console.log("onEnded=>自动下一集");
}

function switchRate(e) {
  // console.log("switchRate=> ", e);
  let videoContext = Taro.createVideoContext("video-1");
  videoContext.playbackRate(e);
  Taro.showToast({
    title: `倍速 x${e}`,
    icon: "success",
  });
}

function onLoadedMetaData({ detail }) {
  const videoRatio = detail.width / detail.height;
  // 判断长宽比确定全屏方向
  if (videoRatio < 1) {
    direction.value = 0;
  }
  // console.log("onLoadedMetaData=>", videoRatio, direction.value);
}

useLoad(() => {
  console.log("Page loaded.");
});

useShareAppMessage((res) => {
  if (res.from === "button") {
    console.log(res.target);
  }
  return {
    title: video.vod_name,
  };
});
useAddToFavorites((res) => {
  return {
    title: video.vod_name,
  };
});
useShareTimeline(() => {
  console.log("useShareTimeline");
  return {
    title: video.vod_name,
  };
});

definePageConfig({
  navigationBarTitleText: video.vod_name,
  enableShareAppMessage: true,
  enableShareTimeline: true,
});
</script>

<template>
  <basic-layout>
    <custom-navbar left-show :title="video.vod_name" />
    <view class="video-name">
      <video
        class="video-playback"
        id="video-1"
        :src="video_url"
        initial-time="0"
        :controls="true"
        :autoplay="false"
        :loop="false"
        :muted="false"
        :enablePlayGesture="true"
        :showCastingButton="true"
        :enableAutoRotation="true"
        :showRateBtn="true"
        :showScreenLockButton="true"
        :showSnapshotButton="true"
        :showBackgroundPlaybackButton="true"
        :pictureInPictureShowProgress="true"
        :showThinProgressBar="true"
        :showVslideBtnInFullscreen="true"
        :mobilenetHintType="1"
        floatingMode="page"
        :showNoWifiTip="true"
        :pictureInPictureMode="['push', 'pop']"
        object-fit="contain"
        :direction="direction"
        @fullScreenChange="onFullScreenChange"
        @ended="onEnded"
        @loadedMetaData="onLoadedMetaData"
        @controlsToggle="onControlsToggle"
      >
        <cover-view class="" v-if="rateShow">
          <cover-view class="video-control">
            <view class="flex font-size-13 m-2">
              <span>倍速播放:</span>
              <view
                v-for="(item, index) in [0.5, 0.8, 1.0, 1.25, 1.5, 2.0]"
                :key="index"
                :data-rate="item"
                @tap="switchRate(item)"
                :class="['ml-2']"
              >
                x{{ item }}
              </view>
            </view>
            <view class="flex font-size-13 m-2">
              <span>旋转屏幕:</span>
              <view
                v-for="(item, index) in [-90, 0, 90]"
                :key="index"
                :data-rate="item"
                @tap="switchRate(item)"
                :class="['ml-2']"
              >
                {{ item }}°
              </view>
            </view>
          </cover-view>
        </cover-view>
      </video>
    </view>

    <!-- 详细介绍 -->
    <view>
      <div class="vod-name w-full">
        <div class="scroll-wrap">
          <div class="scroll-item text-base font-bold p-2 font-sans">
            {{ video.vod_name }}
            <span class="text-xs font-medium">{{ video.vod_remarks }}</span>
          </div>
        </div>
      </div>
      <div class="flex bg-white">
        <div class="w-1/3 p-1">
          <image :src="video.vod_pic" alt="Cover" class="rounded-2 w-250 h-330" />
        </div>
        <div class="w-2/3 p-1 text-sm">
          <p class="text-gray-600">
            <span class="text-gray-500">类型：</span>{{ video.type_name }} ·
            {{ video.vod_tag }}
          </p>
          <p class="text-gray-600">
            <span class="text-gray-500">地区：</span>{{ video.vod_area }}
            <span class="text-gray-500">语言：</span>{{ video.vod_lang }}
          </p>
          <p class="text-gray-600">
            <span class="text-gray-500">年份：</span>{{ video.vod_year }}
            <span class="text-gray-500">导演：</span>{{ video.vod_director }}
          </p>
          <p class="text-gray-600">
            <span class="text-gray-500">状态：</span>{{ video.vod_state }}
            <span class="text-gray-500">评分：</span>{{ video.vod_douban_score }}
          </p>
          <p class="text-gray-600">
            <span>
              <nut-ellipsis
                :content="video.vod_blurb ? video.vod_blurb.trim() : '暂无剧情简介'"
                direction="end"
                rows="4"
                expand-text="展开"
                collapse-text="收起"
                class="font-size-26"
              ></nut-ellipsis>
            </span>
          </p>
        </div>
      </div>
    </view>

    <!-- 剧集 -->
    <view class="mt-3">
      <div class="p-3 bg-white">
        <nut-tag plain mark type="primary"> {{ video.vod_play_from }} </nut-tag>
        <span class="float-right">
          <span class="mr-2 text-center" @click="onReverse()">
            <div
              class="text-size-xl text-gray-600 i-icon-park-outline-reverse-operation-in"
            />
          </span>
        </span>
      </div>
      <scroll-view :scroll-y="true" style="height: 400rpx" :scroll-top="0">
        <nut-row type="flex" justify="start" align="flex-start" flex-wrap="wrap">
          <nut-col
            :span="6"
            v-for="(item, index) in video_urls"
            :key="index"
            class="pl-2 pt-2"
          >
            <nut-button size="small" @click="switchVideo(item)">
              <div class="scroll-wrap">
                <div class="scroll-item whitespace-nowrap">
                  {{ item.split("$")[0] }}
                </div>
              </div>
            </nut-button>
          </nut-col>
        </nut-row>
      </scroll-view>
    </view>
  </basic-layout>
</template>

<style lang="scss">
.h5-video {
  width: 100%;
  height: 240px;
}

.video-name {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
}
.video-playback {
  width: 100%;
}

.vod-name {
  // border: 1px solid;
  .scroll-wrap {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
  }

  .scroll-item {
    animation: scroll linear 4s alternate infinite;
    float: left;
  }

  @keyframes scroll {
    0% {
      margin-left: 0;
      transform: translateX(0);
    }

    10% {
      margin-left: 0;
      transform: translateX(0);
    }

    90% {
      margin-left: 100%;
      transform: translateX(-100%);
    }

    100% {
      margin-left: 100%;
      transform: translateX(-100%);
    }
  }
}

.btn-active {
  color: red;
  border: var(--nut-button-border-width, 2rpx) solid
    var(--nut-button-default-border-color, rgb(255, 0, 0));
}

.video-control {
  background-color: rgb(0 0 0 / 50%);
  color: white;
  // height: calc(100% - 150rpx);
  width: 60%;
  position: absolute;
  top: 0;
  left: 20%;
}
</style>
