<script setup lang="ts">
import { computed } from "vue";
import { getEnv, navigateBack, getWindowInfo, pxTransform } from "@tarojs/taro";
import { useThemeStore } from "@/store";

const env = getEnv();
const windowInfo = env === "WEB" ? { statusBarHeight: 0 } : getWindowInfo();
const statusBarHeight = windowInfo.statusBarHeight || 0;
const navBarHeight = 44;
/** 安全区高度 + navbar高度 */
const height = statusBarHeight + navBarHeight;
const themeStore = useThemeStore();
const theme = computed(() => themeStore.theme);
</script>

<template>
  <!-- 占位div -->
  <div class="w-full" :style="{ height: pxTransform(height) }"></div>
  <div
    :style="{ paddingTop: pxTransform(statusBarHeight) }"
    class="w-full fixed-lt z-10 bg-#fff"
  >
    <nut-navbar class="custom-navbar" v-bind="$attrs" @on-click-back="navigateBack()">
      <template #left-show>
        <div :class="['i-ph-caret-left-bold', 'text-22px', theme === 'dark' ? 'text-#fee' : 'text-#000']"></div>
      </template>
      <template v-for="item in Object.keys($slots)" #[item]="data" :key="item">
        <slot :name="item" v-bind="data || {}"></slot>
      </template>
    </nut-navbar>
  </div>
</template>
<style lang="scss">
.custom-navbar {
  .nut-navbar {
    margin-bottom: 0;
    box-shadow: 0px 1px 1px #bbbbbb0e;
  }
}
</style>
