<script setup lang="ts">
import { ref } from "vue";
import { getConf, fetchApi } from "@/service";
import { useThemeStore } from "@/store";
import Taro, {
  navigateTo,
  useLoad,
  useShareAppMessage,
  useShareTimeline,
  useAddToFavorites,
} from "@tarojs/taro";
import { localStg } from "@/utils";
import dayjs from "dayjs";

const list = ref([
  "https://cdn.jsdelivr.net/gh/yang2048/picx-images-hosting@master/images/office-1246484_640.4n7icv94pz.webp",
  "https://cdn.jsdelivr.net/gh/yang2048/picx-images-hosting@master/images/industry-3087393_1280.8vmpmozdig.webp",
  "https://cdn.jsdelivr.net/gh/yang2048/picx-images-hosting@master/images/istockphoto-1488300628-2048x2048.6wqiwcuhhd.webp",
]);
const boxs = ref([
  {
    title: "影视",
    icon: "i-solar-chat-round-video-broken",
    link: "/pages/film/index",
    badge: "NEW",
  },
  {
    title: "天气",
    icon: "i-carbon-sun",
    link: "/pages/news/index",
  },
  {
    title: "程序",
    icon: "i-carbon-3d-mpr-toggle",
    link: "/pages/mine/memo",
  },
  {
    title: "消息",
    icon: "i-carbon-carbon-for-ibm-dotcom",
    link: "/pages/mine/message",
  },
]);
const visible = ref<boolean>(false);
const cmt = ref([]);
const themeStore = useThemeStore();

async function getComment() {
  const res = await fetchApi({
    cache: true,
    api: "https://tenapi.cn/v2/history",
  });
  cmt.value = res.success?.data.list.reverse();
  onGetConf();
}

async function onGetConf() {
  const res = await getConf(1);
  let conf = JSON.parse(res.success?.configureValue);
  visible.value = conf.index_grid;
  const verify = localStg.get("userMemo")?.toString() || "";
  if (verify == "8899") {
    visible.value = true;
  }
}

function handleToPage(page: string) {
  navigateTo({
    url: page,
  });
}

const clickImages = (imgs: string) => {
  console.log("进行图片展示", imgs);
};
function handleThemeColor() {
  const color = `#${Math.random().toString(16).substr(2, 6)}`;
  themeStore.setThemeVars({ primaryColor: color, primaryColorEnd: color });
}

useLoad(() => {
  getComment();
});

useShareAppMessage((res) => {
  if (res.from === "button") {
    console.log(res.target);
  }
  return {};
});
useAddToFavorites((res) => {
  return {};
});
useShareTimeline(() => {
  console.log("useShareTimeline");
  return {};
});

/** 设置页面属性 */
definePageConfig({
  navigationBarTitleText: "首页",
  enableShareAppMessage: true,
  enableShareTimeline: true,
});
</script>

<template>
  <basic-layout>
    <custom-navbar title="ÿÿôぴô">
      <template #left>
        <div>
          <nut-button size="mini" plain @click="handleThemeColor">
            <div class="text-20px i-lets-icons-sort-random" />
          </nut-button>
        </div>
      </template>
    </custom-navbar>

    <!-- 轮播 -->
    <view>
      <nut-swiper
        :auto-play="3000"
        pagination-visible
        pagination-color="#426543"
        pagination-unselected-color="#808080"
        class="h-2xl"
      >
        <nut-swiper-item v-for="(item, index) in list" :key="index">
          <img :src="item" alt="" style="height: 100%; width: 100%" draggable="false" />
        </nut-swiper-item>
      </nut-swiper>
    </view>

    <!-- <nut-dialog visible="visible" title="您好" content="欢迎您体验本小程序" /> -->
    <!-- <nut-notify type="success " v-model:visible="visible" :msg="欢迎您体验本小程序" /> -->
    <!-- 宫格 -->
    <div class="" v-if="visible">
      <nut-grid class="rounded-3 m-3 bg-white">
        <nut-grid-item
          v-for="(item, index) in boxs"
          :key="index"
          :text="item.title"
          @click="handleToPage(item.link)"
          class="rounded-3 overflow-hidden"
        >
          <nut-badge :value="item.badge">
            <div :class="['text-42px', 'color-coolgray-700', item.icon]" />
          </nut-badge>
        </nut-grid-item>
      </nut-grid>
    </div>

    <view class="m-3 p-3 bg-white rounded-3">
      <div class="mb-2 p-1 text-xl text-center">
        历史今日<span class="text-sm"> {{ dayjs().format("MM-DD") }}</span>
      </div>
      <!-- 骨架屏 -->
      <nut-skeleton
        width="330px"
        height="15px"
        animated
        row="6"
        :loading="cmt.length == 0"
      >
      </nut-skeleton>
      <nut-steps direction="vertical" progress-dot :current="6">
        <div v-for="(item, index) in cmt" :key="index">
          <nut-step :title="item.year">
            {{ index + 1 }}
            <template #content>
              <p>{{ item.title }}</p>
            </template>
          </nut-step>
        </div>
      </nut-steps>
    </view>
  </basic-layout>
</template>
