<script setup lang="ts">
import { ref } from "vue";
import { navigateTo } from "@tarojs/taro";
import { useThemeStore } from "@/store";

const visible1 = ref<boolean>(false);

definePageConfig({
  navigationBarTitleText: "个人中心",
});
</script>
<template>
  <basic-layout :show-tab-bar="false">
    <custom-navbar title="小池塘" />
  </basic-layout>
</template>

<style lang="scss"></style>
