<script setup lang="ts">
import { reactive, ref, onMounted } from "vue";
import { listLog } from "@/service";
import Taro, {
	useRouter,
	getCurrentInstance,
	navigateTo,
	usePullDownRefresh,
	useReachBottom,
	stopPullDownRefresh,
	useShareAppMessage,
} from "@tarojs/taro";

const orderList = ref([]);
const pageinfo = ref({
	currentPage: 1,
	pagesize: 10,
	total: 0,
});

async function getComment(refresh) {
	const res = await listLog(
		pageinfo.value.currentPage,
		pageinfo.value.pagesize,
	);
	console.log(res.success?.list);
	if (refresh) {
		orderList.value = res.success.list;
		pageinfo.value.total = res.success.total;
	} else {
		orderList.value = [...orderList.value, ...res.success.list];
	}
}

/**
 * 监听用户上拉 下一页事件
 */
useReachBottom(() => {
	//开启 Loading提示
	//开启 mask遮罩层 防止用户误触
	console.info("页面下拉动作", pageinfo.value.currentPage++);
	getComment(false);
});

/**
 * 监听用户下拉动作
 */
usePullDownRefresh(() => {
	//请求商品列表
	getComment(true);
	console.info("页面下拉动作");
	stopPullDownRefresh();
});

getComment(true);

definePageConfig({
	navigationBarTitleText: "影视集",
	enablePullDownRefresh: true,
	backgroundColor: "#36366D",
	backgroundTextStyle: "dark",
});
</script>

<template>
	<basic-layout>
		<custom-navbar title="分页" left-show />

		<view>
			<div class="pt-2 pb-2">
				<scroll-view
					class="scroll-view_H"
					:scroll-x="true"
					scrollWithAnimation
					style="width: 100%"
				>
					<nut-space fill>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
						<nut-button size="mini" plain block type="primary">最新</nut-button>
					</nut-space>
				</scroll-view>
			</div>
		</view>

		<scroll-view scroll-y style="width: 100%; height: 100%" type="custom">
			<sticky-section>
				<sticky-header>
					<view class="h-2xl" style="background-color: red">dsdsfsdf</view>
				</sticky-header>
				<list-view>
					<view
						class="cell justify-center flex-items-center"
						v-for="(item, index) in orderList"
						:key="index"
						style="background-color: #fff"
					>
						<div class="p-3 m-3 h-sm border border-solid rounded-3">
							{{ item.apiName }}
						</div>
					</view>
				</list-view>
				<page-loading
					:page="pageinfo.currentPage"
					:total="pageinfo.total"
					:loadingFlag="true"
					:tipFlag="false"
				>
				</page-loading>
			</sticky-section>
		</scroll-view>
	</basic-layout>
</template>

<style lang="scss"></style>
