<script setup lang="ts">
import { reactive, ref, onMounted } from "vue";
import Taro, { useLoad } from "@tarojs/taro";
import { fetchApi } from "@/service";

const nowPic = ref("");

async function getFortune() {
  const { success } = await fetchApi({
    cache: true,
    api: "https://dayu.qqsuu.cn/xingzuoyunshi/apis.php?type=json",
    // api: "https://www.mxnzp.com/api/exchange_rate/list/v2?app_id=kyiqwwphmdp9d8y9&app_secret=1Dh0MMpiwNoVBOQC8NLQdkHZMBsKbnc7",
  });
  nowPic.value = success?.data;
}

function previewImage() {
  Taro.previewImage({
    current: nowPic.value, // 当前显示图片的http链接
    urls: [nowPic.value], // 需要预览的图片http链接列表
  });
}

useLoad(() => {
  getFortune();
});

/** 设置页面属性 */
definePageConfig({
  navigationBarTitleText: "今日时运",
});
</script>

<template>
  <basic-layout>
    <custom-navbar left-show title="每日时运" />
    <view>
      <nut-skeleton
        width="350px"
        height="15px"
        row="25"
        animated
        :loading="nowPic == ''"
      ></nut-skeleton>
      <image
        :src="nowPic"
        :lazy-load="true"
        :fade-in="true"
        :show-menu-by-longpress="true"
        class="w-full h-screen rounded-3"
      />
    </view>
  </basic-layout>
</template>

<style lang="scss" scoped></style>
