<script setup lang="ts">
import { reactive, ref } from "vue";
import { useAuthStore } from "@/store";
import Taro, { navigateTo, useLoad } from "@tarojs/taro";
import { localStg } from "@/utils";
import { wxLogin } from "@/service";
import Router from "tarojs-router-next";

const state = reactive({
  show: false,
  cover: false,
  cuIconList: [
    {
      icon: "i-fluent-emoji-bookmark-tabs",
      color: "red",
      name: "备忘录",
      path: "/pages/mine/memo",
    },
    {
      icon: "i-fluent-emoji-bullseye",
      color: "purple",
      name: "今日时运",
      path: "/pages/mine/fortune",
    },
    {
      icon: "i-fluent-emoji-e-mail",
      color: "cyan",
      name: "系统消息",
      path: "/pages/mine/message",
    },
  ],
});
const authStore = useAuthStore();
const buildVersion = ref();

const goNavigate = (url) => {
  Taro.navigateTo({ url });
};
const openShare = ref(false);
const pic = ref("");

function handleToIcon() {
  navigateTo({
    url: "/package/icon/index",
  });
}
const getUserProfile = () => {
  return new Promise((resolve, reject) => {
    Taro.getUserProfile({
      desc: "完善个人资料",
      success: (res) => {
        resolve(res);
      },
      fail: (err) => {
        reject(err);
      },
    });
  });
};
const getLogin = () => {
  return new Promise((resolve, reject) => {
    Taro.login({
      success: (res) => {
        resolve(res);
      },
      fail: (err) => {
        reject(err);
      },
    });
  });
};

const onLogin = () => {
  Taro.showLoading({
    title: "登录中",
  });
  Promise.all([getUserProfile(), getLogin()]).then((res) => {
    const result: any = Object.assign({}, res[0], res[1]);
    // console.log(result);
    wxLogin({
      code: result.code,
    })
      .then((result: any) => {
        console.info(result);
        localStg.set("userInfo", result.userInfo);
        authStore.setUser(result.userInfo);
        Router.toFilm();
        Taro.hideLoading();
      })
      .catch((err) => {
        Taro.showToast({
          title: "登录失败",
          icon: "success",
        });
      });
  });
};

function onShare(type) {
  openShare.value = true;
  if (type == "reward") {
    pic.value = "https://cdn.jsdelivr.net/gh/yang2048/media@master/img/zs-qrcode.png";
  }
  if (type == "share") {
    pic.value = "https://cdn.jsdelivr.net/gh/yang2048/media@master/img/yoli-dev.jpg";
  }
}

function previewImage() {
  Taro.previewImage({
    current: pic.value, // 当前显示图片的http链接
    urls: [pic.value], // 需要预览的图片http链接列表
  });
}

useLoad(() => {
  // onGotUserInfo();
  buildVersion.value = process.env.BUILD_VERSION;
});
/** 设置页面属性 */
definePageConfig({
  navigationBarTitleText: "个人中心",
});
</script>

<template>
  <basic-layout>
    <view class="">
      <scroll-view class="" :scroll-y="true">
        <view class="mine__top flex flex-col items-center justify-center h-full">
          <nut-avatar size="large" v-if="authStore.userInfo?.avatarUrl">
            <img
              :src="authStore.userInfo?.avatarUrl"
              class="w-24 h-24 rounded-full"
              alt="Avatar"
            />
          </nut-avatar>
          <div
            v-if="!authStore.userInfo?.avatarUrl"
            class="text-145 i-twemoji-drooling-face hover:i-twemoji-face-with-tears-of-joy"
          />
          <div>
            <text class="mt-4 text-xl font-bold">{{
              authStore.userInfo?.nickName || "吸溜~"
            }}</text>
          </div>
          <button
            @tap="onLogin"
            class="rounded-full"
            v-if="!authStore.userInfo?.avatarUrl"
          >
            登录
          </button>
          <!-- <block v-if="userInfo">
            <image
              bindtap="bindViewTap"
              class="userinfo-avatar"
              :src="userInfo.avatarUrl"
              mode="cover"
            ></image>
            <text class="userinfo-nickname">{{ userInfo.nickName }}</text>
          </block> -->
        </view>

        <div class="">
          <nut-grid :column-num="3" square>
            <nut-grid-item
              v-for="(item, index) in state.cuIconList"
              :key="index"
              :text="item.name"
              @click="goNavigate(item.path)"
            >
              <div :class="['text-42px', item.icon]" />
            </nut-grid-item>
          </nut-grid>
        </div>

        <view class="m-3">
          <!-- <nut-cell title="个人资料" is-link></nut-cell> -->
          <nut-cell title="花花世界" @click="handleToIcon" is-link></nut-cell>
          <!-- <nut-cell
            sub-title="友情赞助"
            desc="打赏作者~"
            is-link
            @click="onShare('reward')"
          ></nut-cell> -->
          <view class="flex">
            <nut-cell title="联系客服" is-link desc="获取体验资格" />
            <button class="contact-btn" open-type="contact">按钮</button>
          </view>
          <nut-cell sub-title="官网" desc="xdev.cc" is-link @click=""></nut-cell>
        </view>
        <div class="flex justify-center items-end text-sm text-coolgray">
          版本: v0.0.{{ buildVersion }}
        </div>
      </scroll-view>
    </view>

    <view>
      <nut-overlay v-model:visible="openShare" :close-on-click-overlay="false">
        <div class="flex flex-col justify-center items-center h-screen">
          <div class="w-5xl h-5xl bg-white rounded-3">
            <!-- Container Content -->
            <image
              mode="aspectFit"
              class="w-3xl pl-5"
              :src="pic"
              :fade-in="true"
              :show-menu-by-longpress="true"
              @tap="previewImage"
              alt="分享"
            />
            <p class="text-center color-primary">长按识别二维码</p>
          </div>
          <div class="mt-4">
            <div
              class="text-45px i-material-symbols-cancel-outline-rounded bg-white"
              @click.stop="openShare = false"
            ></div>
          </div>
        </div>
      </nut-overlay>
    </view>
  </basic-layout>
</template>

<style lang="scss">
.mine {
  width: 100%;
  height: 100vh;
  display: relative;

  .mine__scroll-view {
    height: calc(100vh - 130px - env(safe-area-inset-bottom) / 2);
  }
}

.mine__top {
  height: 25vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  background-image: url("https://image-1317015482.cos.ap-shanghai.myqcloud.com/hand-in-hand/BasicsBg.png");
}

.contact-btn {
  display: inline-block;
  position: absolute;
  width: 95%;
  background: blueviolet;
  opacity: 0;
  line-height: 90rpx;
  margin-top: 20rpx;
}
</style>
