<script setup lang="ts">
import { reactive, ref, onMounted } from "vue";
import Taro, { useLoad } from "@tarojs/taro";
import { localStg } from "@/utils";
import dayjs from "dayjs";

const content = ref("");

function onSave() {
  Taro.showToast({
    title: `保存成功...`,
    icon: "loading",
  });
  localStg.set("userMemo", content.value);
}

useLoad(() => {
  content.value = localStg.get("userMemo")?.toString() || "";
});
/** 设置页面属性 */
definePageConfig({
  navigationBarTitleText: "备忘录",
});
</script>

<template>
  <basic-layout class="bg-blue">
    <custom-navbar left-show title="备忘录" />
    <div class="mb-2 p-1 text-xl text-center">
      {{ dayjs().format("YYYY-MM-DD") }}
    </div>
    <view class="m-3 bg-white">
      <nut-textarea
        v-model="content"
        limit-show
        :autosize="{ maxHeight: 700, minHeight: 500 }"
      />
    </view>
    <nut-button block type="primary" @click="onSave">保存</nut-button>
  </basic-layout>
</template>

<style lang="scss" scoped></style>
