<script setup lang="ts">
import { reactive, ref, onMounted } from "vue";
import Taro from "@tarojs/taro";
import { listVideo } from "@/service";
</script>

<template>
  <basic-layout>
    <custom-navbar left-show title="系统消息" />
    <view>
      <nut-empty description="暂无更多消息"></nut-empty>
    </view>
  </basic-layout>
</template>

<style lang="scss" scoped></style>
